img {
    margin: 5px;
}
html {
    overflow: hidden;
    height: 100%;
    zoom: 90%;
    font-family: 'Courier New', Courier, monospace;

}
body {
    height: 100%;
    overflow: auto;
    margin: 0%;
    padding: 0%;
    line-height: 13px;
}
p {
    margin-top: 5px;
}
i {
    font-size: 10px;
}

/* Tooltip container */
.tooltip {
/* If you want dots under the hoverable text */
}
.tooltiptext {
    color: black;


}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 400px;
  max-width: 500px;
  min-height: 50px;
  background: rgb(190, 190, 190);
  padding: 5px 0;


 
  /* Position the tooltip text - see examples below! */
    position: fixed;
  z-index: 1;
  margin-top: 15px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



.shaded {
    color: rgba(128, 128, 128, 0.226);
}
.shaded button {
    opacity: 0.1;
}
.footer p, h3 {
    line-height: 0%;
}
.toeShopDiv div {
    display:inline;
}

.toeShopDiv {
    text-align: center;
    margin: 100px;
    
}
.toeShopButt {
    width: 130px;
    height: 120px;
    margin-right: 30px;

}

#helpMenu {
    position: fixed;
    margin-left: 30%;
    width: 40%;
    overflow: scroll;
    padding: 30px;
    box-sizing: border-box;  

}
#helpClose {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 30px;
 }

 .versionDiv {
     position: fixed;
 }



.header {
    position: fixed;
    top:0px;

    padding: 10px;
    font-size: 12px;
    background: rgba(255, 255, 255);
    width:100%;
    height: 155px;
    margin-top: 10px;

    border-bottom: thin solid black;

    overflow: auto;
}
.overlayScreen {
    background: rgb(224, 224, 224);
    z-index: 5;
    position: fixed;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 2.5%;

    border-radius: 3px;
    box-shadow: 5px 10px 40px ;

}
#toeShopClose {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70px;
    height: 70px;
}
.footer {
    width: 100%;
    min-height: 100px;
    background: lightgrey;
    float: left;
}

.sideBar {
    width: 200px;
    

    margin: 10px;

    float: left;
    margin-right: 30px;
    
}

.pageSection {
    overflow: auto;
    display: block;
    margin-right: 30px;

}

.botDraggableEle {
    width: 85px;
    height: 85px;
    border: 1px solid grey;
    box-shadow: 1px 3px 4px ;
    float: left;

    font-size: 12px;

    
    background: rgb(72, 216, 144);
    padding: 5px;

    margin: 10px;

    

}
.converterProgressBar {
    width: 85px;
    height: 20px;
    background: black;
}



.board {
    width: fit-content;
    background: white;
    background-clip: content-box;
    box-shadow: 5px 10px 40px ;
    margin: 20px;
    border: 2px solid black;
    background-clip: content-box;
    overflow: auto;


    float: left;
    
}
.boardHeader {
    margin: 10px;
    margin-bottom: -5px;
    width: 90%;
    min-height: 20px;
}
.typeAi-tactotic-c {
    background: rgb(55, 106, 184);

}

.type-gold-basic {
    background: rgb(204, 188, 109);

}


.botBoardSlot {
    width: 130px;
    height:130px;
    float: right;
    margin: 10px;
    box-sizing: border-box;
    border: 5px solid black;
}


/*==========================basic==========================±*/
.type-basic .boardGameSquare {
    width:96px;
    height:96px;

    line-height : 96px;

    float: left;

    background: lightgrey;
    text-align: center;
    font-size: 70px;

    margin: 2px;
}
.type-basic .boardGameArea {
    width:300px;
    height:300px;
    background: rgb(57, 124, 91);
    background-clip: content-box;
    
    box-shadow: 2.5px 5px 10px ;


    margin: 20px;

}
/*==========================gold-basic==========================±*/
.type-gold-basic .boardGameSquare {
    width:96px;
    height:96px;

    line-height : 96px;

    float: left;

    background: lightgrey;
    text-align: center;
    font-size: 70px;

    margin: 2px;
}
.type-gold-basic .boardGameArea {
    width:300px;
    height:300px;
    background: rgb(57, 124, 91);
    background-clip: content-box;
    
    box-shadow: 2.5px 5px 10px ;


    margin: 20px;

}

/*==========================±1d==========================±*/
.type-1d .boardGameSquare {
    width:29.25px;
    height:29.25px;


    float: left;

    background: lightgrey;
    text-align: center;
    font-size: 25px;
    line-height: normal;

    margin: 2px;
}
.type-1d .boardGameArea {
    width:300px;
    height:31px;
    background: rgb(57, 124, 91);
    background-clip: content-box;
    
    box-shadow: 2.5px 5px 10px ;


    margin: 20px;

}
/*==========================±numerical==========================±*/
.type-numerical .boardGameSquares {
    height: 50px;
}
.type-numerical .boardGameSquare {
    width:29.25px;
    height:29.25px;


    float: left;

    background: lightgrey;
    text-align: center;
    font-size: 25px;
    line-height: normal;

    margin: 2px;
}
.type-numerical .boardGameArea {
    width:300px;
    height:160px;
    background: rgb(65, 92, 63);



    margin: 20px;
    padding: 10px;

}
.type-numerical .boardGameArea div {
    line-height: 30px;
    text-align: center;
}
.type-numerical .numberTile {
    box-shadow: 2.5px 5px 10px ;

}

.type-numerical .boardGameBin {
    background: darkgrey;
    width: 45%;
    margin:5px;
    margin-top: 5px;
    margin-bottom: 50px;
    height: 100px;
    float: left;

}

.buySideBar {
    overflow-y: scroll;
    width: 100%;
    height: 400px;

    margin: 5px;

    border: 2px solid black;


   
    margin-bottom: 30px;
    
}
.boardUpgradeArea {
    padding: 10px;
}

.collapsible {
    border: none;
    width: 100%;
    height: 35px;
}
.collapsibleContent {
    display:none;
}
.buyBlock {
    width: auto;
    height:90px;
    border: 1px solid black;
    margin: 5px;
    font-size: 13px;
}

#boardBin {
    background: lightgrey;
    overflow: auto;
    min-height: 80px;
}


#botBinDiv, #botUpgradeSlot, #botRecycleSlot {
    margin: 10px;

    width: 100%;
    border: 1px solid black;
    min-height: 100px;
    overflow: auto;
    float: left;
    
}


.headerContent {
    float: left;
    margin-right: 100px;
}
#currencyDiv {
    font-size: 20px;
    line-height: 5px;
}


